<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Patents&Suppliers Search Service by V.Gromadskii</title>

</head>
<body>
<style>
    .jumbotron{
        height:auto;
        padding:20px 0 !important;
 }
</style>
  <div class="container">
    <div style="background:transparent" class="jumbotron">
        <div style="font-family: 'Tangerine', serif;">
        <p>
          <center>
          <font size="8">Patents&Suppliers by V.Gromadskii</font>
          </center>
        </p>
      </div>
    </div>

    <form action="/" method="post">
      <div>
        <input type="text" class="form-control input-lg" name="input" placeholder="Supports RU EN CHN" autofocus>
        <br>
        <div style="text-align: center;">
          <button class="btn btn-primary btn-lg" type="submit" formaction="all-mpnet-base-v2">
            <i class="glyphicon glyphicon-search"></i>
            Search
          </button>
        </div>
      </div>
    </form>
    <br><br>
      </div>
  </body>
</html>